<a href="/">Go Back</a>
<br>
<br>

<main class="row">
    <section class="user-output col">
        <h1>Welcome, {{user.username}}</h1>
        <hr>
        {{#each user.books}}
        <div>
            <h3>Title: {{recipe}}</h3>
            <p>User: {{user}}</p>

        </div>
        {{/each}}
    </section>
</main>