{{!-- <a href="/"></a> --}}


<main class="row flex-fill">
    <section class="user-output col">

        <hr>
        {{#each recipes}}
        <div>
            <h3>Title: {{title}}</h3>
            <p>{{recipe}}</p>
            <p>{{ingredients}}</p>
            <p>User: {{user.username}}</p>

        </div>
        {{/each}}
    </section>
</main>