<a href="/">Home</a>

<h1>Log In</h1>


<form action="/login" method="POST">
    <input name="email" type="email" placeholder="Enter your email">
    <input name="password" type="password" placeholder="Enter your password">
    <button>Submit</button>
</form>