<a href="/">Home</a>

<h1 class="text-center">Add a Dish</h1>

<form action="/create/recipe" method="POST">
    <input name="title" type="text" placeholder="Enter the name of the dish">
    <input name="ingredients" type="text" placeholder="Enter the ingredients">
    <input name="recipe" type="text" placeholder="Enter the recipe">
    <button>Submit</button>
</form>