<a href="/">Home</a>

<h1 class="text-center">Register</h1>

{{#each errors}}
<p class="text-danger">{{this}}</p>
{{/each}}

<form action="/register" method="POST">
    <input class="form-control form-control-lg" name="firstName" type="text" placeholder="First Name">
    <input class="form-control form-control-lg" name="lastName" type="text" placeholder="Last Name">
    <input class="form-control form-control-lg" name="email" type="email" placeholder="Enter your email">
    <input class="form-control form-control-lg" name="username" type="text" placeholder="Enter your username">
    <input class="form-control form-control-lg" name="password" type="password" placeholder="Enter your password">
    <button class="btn btn-info mt-3">Submit</button>
</form>